body{
    margin: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
hr{
    display: block;
    width: 100%;
}
.headings{
    display: flex;
    align-self: flex-start;
}
.content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}