body{
    margin: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}
.name{
    font-size: 16px;
}
.address{
    margin-top: -1%;
}
.email{
    margin-top: -1%;
}
.number{
    margin-top: -1%;
}
hr{
    display: block;
    width: 100%;
}
.headings{
    display: flex;
    align-self: flex-start;
    text-transform: uppercase;
}
.content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

#date1{
    margin-left: 60%;
    padding: 0px;
}
#date2{
    margin-left: 85%;
    padding: 0px;
}
#date3{
    margin-left: 37%;
    padding: 0px;
}
#date4{
    margin-left: 48%;
    padding: 0px;
}
#date5{
    margin-left: 48%;
    padding: 0px;
}
.location{
    margin-left: 57%;
    padding: 0px;
}
ul{
    margin-top: -1%;
}