body{
    margin: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("bck-image1.jpg");
}
a{ 
    text-decoration: none;
}
.form-contents{
    background-color: white;
    margin: 7% auto;
    padding: 10%;
    /* fill-opacity: 0.2; */
}
.form-container{
    display: flex;
    margin: 7% 50%;
    padding-right: 30%;
}
.form-image img{
    width: 700px;
    height: 700px;
    margin: 20%;
}